<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='currentColor'>
	<g>
		<title>Layer 1</title>
		<path
			stroke='null'
			id='svg_1'
			d='m16.58333,13.43463q-0.03819,0 -0.03819,0l0,0l0,0q-0.19097,-0.04351 -0.34375,-0.08703q0.11458,0.04351 0.19097,0.04351q0.07639,0 0.19097,0.04351l0,0zm-4.58334,-2.95891q-0.80208,-1.78405 -2.55903,-4.2208l0,0l0,0q-1.71875,-2.48026 -3.66667,-4.13377q-1.79514,-1.39243 -2.67361,-1.47946q-0.84028,-0.13054 -1.26042,0.21757q-0.53472,0.30459 -0.6875,1.00081q-0.15278,0.69621 -0.15278,1.26189q0,0.47865 0.11458,1.91459q0.07639,1.43594 0.19097,2.87188q0.15278,1.47945 0.26736,2.00162q0.61111,2.13216 2.29167,2.95891q1.64236,0.78324 3.55208,0.56567q0.11458,-0.04351 0.22917,-0.04351q0.07639,0 0.15278,-0.04351q-0.19097,0.04351 -0.38194,0.08703q-1.83333,0.26108 -3.17014,1.00081q-1.33681,0.73973 -1.4132,2.21918q-0.03819,1.52297 1.98611,4.17728q2.29167,2.52378 3.70486,1.9581q1.4132,-0.56567 2.25347,-2.6108q0.80208,-2.00162 1.22222,-3.82918q0,0 0,-0.04351q0.11458,0.39162 0.22917,0.87027q0.38194,1.78405 1.06944,3.52458q0.72569,1.69702 2.0625,2.04513q1.375,0.34811 3.74306,-1.91459q1.87153,-2.2627 1.87153,-3.78566q-0.03819,-1.56648 -1.29861,-2.43675q-1.26042,-0.91378 -3.09375,-1.17486q-0.03819,0 -0.03819,-0.04351q-0.19097,0 -0.34375,-0.04351q0.11458,0.04351 0.19097,0.04351q0.07639,0 0.19097,0.04351q1.90972,0.21757 3.55208,-0.56567q1.68056,-0.82675 2.29167,-2.95891q0.11458,-0.52216 0.26736,-2.00162q0.11458,-1.43594 0.19097,-2.87188q0.11458,-1.43594 0.11458,-1.91459q0,-0.56567 -0.15278,-1.26189q-0.15278,-0.69621 -0.6875,-1.00081q-0.38194,-0.30459 -1.26042,-0.21757q-0.87847,0.08703 -2.67361,1.47946q-1.94792,1.65351 -3.66667,4.13377q-1.75695,2.43675 -2.55903,4.2208l0,0z'
		></path>
	</g>
</svg>
