<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='#000000'>
	<g>
		<title>Layer 1</title>
		<g id='SVGRepo_bgCarrier' stroke-width='0'></g>
		<g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'></g>
		<g stroke='null' id='SVGRepo_iconCarrier'>
			<path
				stroke='null'
				d='m-5.91304,-4.27536l0,31.44927l37.34783,0l0,-31.44927l-37.34783,0zm3.39526,2.85903l30.55731,0l0,25.73123l-30.55731,0l0,-25.73123zm14.42985,2.85903c-4.21182,0 -7.63933,3.20639 -7.63933,7.14756c0,3.94116 3.42751,7.14756 7.63933,7.14756c2.41233,0 4.54115,-1.07282 5.9417,-2.71104l0,1.99629c0,2.75896 -2.66527,5.00329 -5.9417,5.00329c-2.3614,0 -4.38742,-1.17506 -5.34488,-2.85903l-1.82694,0c1.05423,2.49022 3.85635,4.28854 7.17182,4.28854c4.21182,0 7.63933,-2.88619 7.63933,-6.43281l0,-12.15086l-1.69763,0l0,1.28153c-1.40054,-1.63822 -3.52937,-2.71104 -5.9417,-2.71104l0,0.00001zm0,1.42951c3.27642,0 5.9417,2.56455 5.9417,5.71806c0,3.15351 -2.66527,5.71806 -5.9417,5.71806c-3.27642,0 -5.9417,-2.56455 -5.9417,-5.71806c0,-3.15351 2.66527,-5.71806 5.9417,-5.71806z'
				id='svg_1'></path>
		</g>
	</g>
</svg>
