<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='#000000' version='1.1'>
	<g>
		<title>Layer 1</title>
		<g stroke-width='0' id='SVGRepo_bgCarrier'></g>
		<g stroke-linejoin='round' stroke-linecap='round' id='SVGRepo_tracerCarrier'></g>
		<g stroke='null' id='SVGRepo_iconCarrier'>
			<circle
				stroke='null'
				id='svg_1'
				fill='#000000'
				r='0.60811'
				cy='2.95406'
				cx='4.72162'
				class='b'></circle>
			<line
				stroke='#000000'
				id='svg_2'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				y2='17.91351'
				y1='5.76757'
				x2='4.72162'
				x1='4.72162'
				class='c'></line>
			<path
				stroke='#000000'
				id='svg_3'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				d='m18.88649,17.91351l0,-7.79189a4.72703,4.72703 0 0 0 -4.71892,-4.71892a4.72703,4.72703 0 0 0 -4.72703,4.71892l0,7.79189'
				class='c'></path>
			<line
				stroke='#000000'
				id='svg_4'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				y2='5.76757'
				y1='10.12162'
				x2='9.44054'
				x1='9.44054'
				class='c'></line>
			<path
				stroke='#000000'
				id='svg_5'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				d='m24.87838,-3.5l-26.75676,0a1.62162,1.62162 0 0 0 -1.62162,1.62162l0,26.75676a1.62162,1.62162 0 0 0 1.62162,1.62162l26.75676,0a1.62162,1.62162 0 0 0 1.62162,-1.62162l0,-26.75676a1.62162,1.62162 0 0 0 -1.62162,-1.62162z'
				class='c'></path>
		</g>
	</g>
</svg>
