<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='#000000'>
	<g>
		<title>Layer 1</title>
		<g stroke-width='0' id='SVGRepo_bgCarrier'></g>
		<g stroke-linejoin='round' stroke-linecap='round' id='SVGRepo_tracerCarrier'></g>
		<g stroke='null' id='SVGRepo_iconCarrier'>
			<path
				stroke='#000000'
				id='svg_1'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				d='m23.0662,10.54015c0,3.40816 -0.60198,4.5735 -1.78546,5.54974c-2.39871,1.97928 -8.7808,1.82548 -8.7808,1.82548a24.94632,21.94426 0 0 1 -4.34266,-0.28784s-0.69708,4.03797 8.11319,2.05776l-0.08946,2.30965c-1.34259,0.15794 -14.12058,4.31344 -14.21283,-10.1611l-0.03467,-1.29398c0,-3.40816 0.03096,-4.61969 1.78546,-6.32366c2.20771,-2.14436 8.78099,-1.87096 8.78099,-1.87096s6.57334,-0.2734 8.78055,1.87096c1.75438,1.70414 1.78546,2.91566 1.78546,6.32366'
				class='a'></path>
			<path
				stroke='#000000'
				id='svg_2'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				d='m12.49994,12.12556l0,-3.25545a2.88157,2.5348 0 0 0 -2.88163,-2.5348l0,0a2.88157,2.5348 0 0 0 -2.88157,2.5348l0,5.25363'
				class='a'></path>
			<path
				stroke='#000000'
				id='svg_3'
				stroke-linejoin='round'
				stroke-linecap='round'
				fill='none'
				d='m12.49994,8.8701a2.88157,2.5348 0 0 1 2.88163,-2.5348l0,0a2.88157,2.5348 0 0 1 2.88157,2.5348l0,5.25363'
				class='a'></path>
		</g>
	</g>
</svg>
